dnspython==2.8.0
flask-cors==6.0.2
flask-jwt-extended==4.7.1
flask-migrate==4.1.0
flask-socketio==5.6.0
flask-sqlalchemy==3.1.1
gevent-websocket==0.10.1
importlib-metadata==8.7.1
jaraco-context==6.1.0
jaraco-functools==4.4.0
jaraco.text==4.0.0
lap==0.5.13
pip-chill==1.0.3
pymysql==1.1.2
python-dotenv==1.2.2
tomli==2.4.0
ultralytics==8.4.14
zope-event==6.1
zope-interface==8.2
cryptography==44.0.1
openvino>=2024.0.0